header {
    background-color: #1A1D40;
}
header h1 {
    color: white;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 1em 0;
}
.jazzimg {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:20px;
}
.jazzimg img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
main {
  display:flex;
  flex-wrap:wrap;
  gap:20px;
  justify-content:center;
  max-width: 1000px;
  margin: 30px auto;
  text-align:center;
  font-family: verdana, sans-serif;
  font-size: 21px;
  color:#1A1D40
}
body {
  background-image:
url(https://i.pinimg.com/736x/f3/df/0a/f3df0a90366fa5a1231fed5dfaaa555b.jpg);
    background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
a {
      display:flex;
  flex-wrap:wrap;
  gap:20px;
  justify-content:center;
  max-width: 1000px;
  margin: 30px auto;
  text-align:center;
  font-family: verdana, sans-serif;
  font-size: 21px;
  color:#1A1D40
}